<div class="min-h-screen bg-gray-100 p-4 md:p-8">
    <h1 class="text-2xl font-semibold mb-4">All Reports</h1>

    <div *ngIf="loading" class="text-center text-gray-500">Loading reports...</div>

    <div *ngIf="!loading && reports.length === 0" class="text-center text-gray-500">No reports found.</div>

    <div *ngIf="!loading && reports.length > 0" class="bg-white shadow-md rounded-md overflow-x-auto">
        <table class="min-w-full">
            <thead class="bg-slate-600 text-white">
                <tr>
                    <th class="text-left p-4">Title</th>
                    <th class="text-left p-4">Type</th>
                    <th class="text-left p-4">Description</th>
                    <th class="text-left p-4">Severity</th>
                    <th class="text-left p-4">Resolved</th>
                    <th class="text-left p-4">Created By</th>
                </tr>
            </thead>
            <tbody>
                <tr routerLink='/report/{{report._id}}' *ngFor="let report of reports"
                    class="border-b cursor-pointer hover:bg-slate-200 transition-all duration-100 capitalize">
                    <td class="p-4">{{ report.title }}</td>
                    <td class="p-4"><span class="p-1 text-white rounded" [ngClass]="{
              'bg-red-500': report.type === 'bug',
              'bg-green-400': report.type === 'feature'}">
                            {{ report.type }}
                        </span></td>
                    <td class="p-4">{{ report.description }}</td>
                    <td class="p-4 capitalize w-fit text-white"> <span class="p-1 rounded" [ngClass]="{
              'bg-red-600': report.severity === 'critical',
              'bg-yellow-600': report.severity === 'medium',
              'bg-green-600': report.severity === 'low'
            }">{{ report.severity }}</span></td>
                    <td class="p-4"><div class="checkbox-wrapper-31">
                        <input [checked]="report.resolved" type="checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                            <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                            <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                        </svg>
                    </div></td>
                    <td class="p-4">{{ report.createdBy}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>